.DS_Store
atuin/config.toml
node_modules
raycast
zed/conversations
zed/embeddings
package-lock.json
package.json
nushell/history.txt
nushell/oldconfig-2024-12-28-21-56-24.nu
nushell/oldenv-2024-12-28-21-56-24.nu
